.box {
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
}

.innerBox {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
  width: 95%;
  height: 95%;
  cursor: pointer;
}

.abbr {
  position: absolute;
  /* top: 45%; */
  bottom: -5%;
  margin-left: 10%;
  color: rgba(255, 255, 255, 0.39);
}
