.box {
  border: 2px solid black;
  border-radius: 20px;
  /* width: 110px;
  height: 110px; */
  position: relative;
}

.innerBox {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
  width: 95%;
  height: 95%;
  cursor: pointer;
}

.abbr {
  position: relative;
  top: 45%;
  margin-left: 10%;
  color: rgba(255, 255, 255, 0.39);
}
